---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
    background-color: #0078d4;
    line-height: 56px;
}

.post-title {
    font-size: 1.2rem;
}

.post-link {
    font-size: 1.2rem;
}

.page-heading {
    font-size: 1.2rem;
}

.site-header .wrapper {
    max-width: 100%;
    padding-right: 5px;
}

.site-title:visited {
    color: white;
}

a.site-title:hover {
    background-color: #106EBE;
    text-decoration: none;
}

.site-title {
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    padding-top: 8px;
    padding-bottom: 8px;
}


.site-nav {
    background-color: #0078d4;
    border:0;
    top:18px
}

.site-nav .page-link {
    color: white;
}

.site-nav .page-link:visited {
    color: white;
}

body {
    color: white;
    font-style: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

a:visited {
    color: #0091ff
}

a {
    color: #0091ff
}

.site-nav .social-media-list li {
    border: 0;
    margin: 0;
}

.site-nav .social-media-list li a {
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.site-nav .social-media-list li a:hover, .pagination li a:hover {
    background-color: #106EBE;
}

.social-links .svg-icon {
    fill: white;
}