---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
    background-color: #252423;
    line-height: 41px;
    border:none;
    min-height:auto;
}

.site-footer {
    padding: 5px 0;
}

.post-title {
    font-size: 1.2rem;
}

.post-link {
    font-size: 1.2rem;
}

.page-heading {
    font-size: 1.2rem;
}

.highligher-rouge {
    border: 0;
}

.site-header .wrapper {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.site-title:visited {
    color: #e6e6e6;
}

a.site-title:hover {
    background-color: #605e5c;
    text-decoration: none;
}

.site-title {
    color: #e6e6e6;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left:20px;
    padding-right:20px;
}


.site-nav {
    background-color: #252423;
    border:0;
    top:12px
}

.site-nav .page-link {
    color: #e6e6e6;
}

.site-nav .page-link:visited {
    color: #e6e6e6;
}

body {
    color: #e6e6e6;
    font-style: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

a:visited {
    color: #75b6e7
}

a {
    color: #75b6e7
}

.social-media-list li {
    border: 0;
    margin: 0;
}

.social-media-list li a {
    border: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.social-media-list li a:hover, .pagination li a:hover {
    background-color: #605e5c;
}

.site-nav .social-links .svg-icon {
    fill: #e6e6e6;
}

.site-footer .social-links .svg-icon {
    fill: #999999;
}